Setting User Properties

    JMeter user properties are properties supplied to JMeter that can be used in JMeter tests.

    To set user properties you will need to specify each property in your <<<pom.xml>>> in the config element <<propertiesUser>> (The example below shows a property called <<threads>> and a propery called <<testIterations>> being set).
    The properties are merged into the JMeter properties file <<<user.properties>>> and overwrite identical properties within the file.

+---+
<project>
    [...]
    <build>
        <pluginManagement>
            <plugins>
                <plugin>
                    <groupId>${project.groupId}</groupId>
                    <artifactId>${project.artifactId}</artifactId>
                    <version>${project.version}</version>
                    <executions>
                        <execution>
                            <id>jmeter-tests</id>
                            <phase>verify</phase>
                            <goals>
                                <goal>jmeter</goal>
                            </goals>
                        </execution>
                    </executions>
                    <configuration>
                        <propertiesUser>
                            <threads>10</threads>
                            <testIterations>5</testIterations>
                        </propertiesUser>
                    </configuration>
                </plugin>
            </plugins>
        </pluginManagement>
    </build>
    [...]
</project>
+---+